src/main/resources/META-INF/space.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--targetNamespace : 定义的命名空间-->
<xsd:schema xmlns="http://www.spring.space.com/spring/schema/space"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.spring.space.com/spring/schema/space"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <!--参数-->
    <xsd:element name="spaceprocessor" id="spaceprocessor">
        <!--解除IDEA的Bean无法失败警告-->
        <xsd:annotation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="fully.qualified.ClassName"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <!--<xsd:element ref="prefix" minOccurs="1" maxOccurs="unbounded"/>
                        <xsd:element ref="prefix2" minOccurs="1" maxOccurs="unbounded"/>-->
                        <xsd:element ref="beans:value" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
            <!--<xsd:attribute name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        包
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>-->
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="prefix">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:all" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[ The service interface class name. ]]></xsd:documentation>
                            <xsd:appinfo>
                                <tool:annotation>
                                    <tool:expected-type type="java.lang.Class"/>
                                </tool:annotation>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>